/* *********
TERMS
************/

.terms__page{
    max-width: 1200px;
    height: 80vh;
}

.terms__page h2{
    color: var(--dark);
    border-bottom: 2px solid var(--dark);
    width: fit-content;
    margin-bottom: 1rem;
}

.terms__page p{
    color: var(--dark);
    font-size: 1rem;
    letter-spacing: 1px;
    /* max-width: 500px; */
    margin: 1rem 0;
}

/* *********
ERROR
************/

.full__container{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    font-weight: 400;
    color: var(--dark);
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding: 10px;
}

.link__btn{
    background-color: var(--blue);
    color: var(--light);
    padding: 10px 20px;
    margin-top: 3rem;
}